.index {
  .hero {
    $hero-color: white;
    background-color: #242424;

    .hero-inner {
      @include outer-container;
      @include clearfix;
      position: relative;
      margin: auto;
      text-align: center;
      color: $hero-color;
      min-height: 350px;
      height: 100vh;

      .hero-copy {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizelegibility;
        width: 100%;
        -webkit-transform: translate(-50%, -49%);
        -moz-transform: translate(-50%, -49%);
        -ms-transform: translate(-50%, -49%);
        -o-transform: translate(-50%, -49%);
        transform: translate(-50%, -49%);
        h1 {
          font-size: 4em;
          font-family: 'Montserrat', sans-serif;
          margin-bottom: .5em;
          text-transform: uppercase;

          @include media($large-screen) {
            font-size: 6em;
          }
        }

        h2 {
          font-size: 1.5em;
          font-family: 'Lato', serif;
          font-weight: 300;
        }

        p {
          font-family: $serif;
          margin: auto;
          margin-bottom: 3em;
          font-weight: 200;
          line-height: 1.4em;

          @include media($large-screen) {
            font-size: 1.1em;
            max-width: 40%;
          }
        }
      }
    }
  }
}
